p,h1, h3, pre {
padding: 5px 15px;
margin: 0px;
}

#right,#middleright,#middle,#left,#stats{
border: 1px solid #564b47;
padding:0px;
margin:0px;
overflow: hidden; 
text-overflow: ellipsis;
overflow-x:hidden;
overflow-y:hidden;
}

#stats {
position: absolute;
left: 40%;
width: 57%;
top: 56px;
height: 50%;
background-color: #FFCC99;
}

#left {
position: absolute;
left: 2%;
width: 36%;
top: 56px;
background-color: #CCCCFF;
}

.highlight {color: #C11B17}

#middle {
position: absolute;
left: 40%;
width: 18%;
top: 406px;
background-color: #FFFF99;
}

#middleright {
position: absolute;
left: 59%;
width: 18%;
top: 406px;
background-color: #FFCCFF;
}

#right {
position: absolute;
left: 78%;
width: 18%;
top: 406px;
background-color: #00FFCC;
}
