p,h1, h3, pre {
padding: 5px 15px;
margin: 0px;
}

#right,#middleright,#middleleft,#left{
border: 1px solid #564b47;
padding:0px;
margin:0px;
overflow: hidden; 
text-overflow: ellipsis;
overflow-x:hidden;
overflow-y:hidden;
}

#left {
position: absolute;
left: 2%;
width: 23%;
top: 106px;
background-color: #CCCCFF;
}

#middleleft {
position: absolute;
left: 26%;
width: 23%;
top: 106px;
background-color: #00FFFF;
}

#middleright {
position: absolute;
left: 50%;
width: 23%;
top: 106px;
background-color: #00FFCC;
}

#right {
position: absolute;
left: 74%;
width: 23%;
top: 106px;
background-color: #FFFF99;
}
